@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  @include mat.toolbar-overrides((
    container-background-color : #005CDB,
    container-text-color : #D7E3FF,
  ));

  background-color: #222525;
  color: #FFFFFF;
}
